body.div{
    flex-flow:column nowrap; display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: #FFF; 
}
.main-container{
    height: 100%; 
    position: relative; 
    background: white;
}
.sub-1{
    width: 100%;
    height: 100%;  
    position: relative; 
    transform: rotate(-130.44deg); 
    transform-origin: 0 0; 
    background: rgba(218.25, 77.38, 241.19, 0.40); 
    box-shadow: 500px 500px 500px; 
    border-radius: 9999px; 
    filter: blur(500px);
}
.sub-2{
    width: 100%; 
    height: 100%; 
    position: relative; 
    transform: rotate(-130.44deg); 
    transform-origin: 0 0; 
    background: rgba(196, 245, 233, 0.70); 
    box-shadow: 600px 600px 600px; 
    border-radius: 9999px; 
    filter: blur(600px);
}

.sub-4{
        top: 147px; 
        left: 4%; 
        position: relative; 
        flex-direction: column; 
        justify-content: flex-start; 
        align-items: flex-start; 
        gap: 24px; 
        display: inline-flex;
}
.sub-4-1-1{
    flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex;
}
.sub-4-1-1-name{
    color: #132238; font-size: 3vw; font-family:'Poppins', sans-serif; font-weight: 500; line-height: 60px; word-wrap: break-word; display: inline;
}
.about{
    width: 648px; color: #556070; font-family:'Poppins', sans-serif; font-size: 18px; font-weight: 400; line-height: 24px; word-wrap: break-word;
}
#sub-6{
    left: 4.3%; 
    top: 453px; 
    position: fixed; 
    background: rgba(237, 216, 255, 0.50); 
    border-radius: 6px; 
    border: 1px white solid; 
    justify-content: center; 
    align-items: center; 
    gap: 9px; 
    display: inline-flex;
}
.sectionSGPA{
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 5px; 
    display: inline-flex;
}
#section-1{
    width: 160px; text-align: center; color: #424E60; font-size: 28px; font-family: 'Poppins', sans-serif; font-weight: 600; line-height: 35px; word-wrap: break-word;
}
#section-2{
    width: 160px; text-align: center; color: #697484; font-size: 14px; font-family: 'Poppins', sans-serif; font-weight: 400; line-height: 21px; word-wrap: break-word;
}
.sectionSolvedProblems{
    flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 5px; display: inline-flex;
}
.contributions{
    flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 5px; display: inline-flex;
}
.hello-button{
    padding: 10px 20px;
    background: #A53DFF; 
    border-radius: 10px; 
    text-align: center; 
    gap: 12px; 
    display: inline-flex; 
    color: white;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600; 
    cursor: pointer; 
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}
.hello-button:hover{
    box-shadow: 0 50px 50px 0 #A53DFF,0 50px 50px 0 #A53DFF;
}

#image-container {
    width: 436px; 
    height: 536px; 
    left: 760px; 
    top: 70px; 
    position: absolute; 
    background: linear-gradient(0deg, white 0%, white 100%); 
    box-shadow: 0px 24px 116px rgba(145, 152, 163, 0.09); 
    border-radius: 25px; object-fit:cover ;
    perspective: 500px;
}
#image-container img {
    transform-style: preserve-3d;
    transition: transform 0.2s ease-in-out;
}
#image-container:hover img {
        transform: translateZ(100px) rotateX(5deg) rotateY(5deg);
}   

@media all and (max-device-width: 800px) { 
    .sub-4{
        top: 100px; 
        left: 4%; 
        position: relative; 
        flex-direction: column; 
        justify-content: flex-start; 
        align-items: flex-start; 
        gap: 10px; 
        display: inline-flex;
    }
    .sub-4-1-1{
        flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex;
    }
    .sub-4-1-1-name{
        color: #132238; font-size: 20px; font-family:'Poppins', sans-serif; font-weight: 500; line-height: 25px; word-wrap: break-word; display: inline;
    }
    .about{
        width:250px; font-size: 12px; font-weight: 400; line-height: 24px; word-wrap: break-word;
    }
    .hello-button{
        padding: 05px 09px;
        background: #A53DFF; 
        border-radius: 10px; 
        text-align: center; 
        gap: 10px; 
        display: inline-flex; 
        color: white;
        font-size: 12px;
        font-family: 'Poppins', sans-serif;
        font-weight: 600; 
        cursor: pointer; 
        -webkit-transition-duration: 0.4s; 
        transition-duration: 0.4s;
    }
    .hello-button:hover{
        box-shadow: 0 50px 50px 0 #A53DFF,0 50px 50px 0 #A53DFF;
    }
    #sub-6{
        left: 4%; 
        top: 360px; 
        position: fixed; 
        background: rgba(237, 216, 255, 0.50); 
        border-radius: 6px; 
        border: 1px white solid; 
        justify-content: center; 
        align-items: center; 
        gap: 1px; 
        display: inline-flex;
    }
    .sectionSGPA{
        flex-direction: column; 
        justify-content: flex-start; 
        align-items: flex-start; 
        gap: 1px; 
        display: inline-flex;
    }
    .sectionSolvedProblems{
        flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 1px; display: inline-flex;
    }
    .contributions{
        flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 1px; display: inline-flex;
    }
    #section-1{
        width: 75px; text-align: center; color: #424E60; font-size: 12px; font-family: 'Poppins', sans-serif; font-weight: 400; line-height: 25px; word-wrap: break-word;
    }
    #section-2{
        width: 75px; text-align: center; color: #697484; font-size: 08px; font-family: 'Poppins', sans-serif; font-weight: 200; line-height: 11px; word-wrap: break-word;
    }
    #image-container {
        width: 236px; 
        height: 336px; 
        left: 3%; 
        top: 434px; 
        position: absolute; 
        background: linear-gradient(0deg, white 0%, white 100%); 
        box-shadow: 0px 24px 116px rgba(145, 152, 163, 0.09); 
        border-radius: 25px; object-fit:cover ;
        perspective: 500px;
    }
    #image-container img {
        transform-style: preserve-3d;
        transition: transform 0.2s ease-in-out;
    }
    #image-container:hover img {
            transform: translateZ(100px) rotateX(5deg) rotateY(5deg);
    }   
    .sub-1{
        width: 100%;
        height: 100%;
        top: 0px;  
        left: 100;
        position: relative; 
        transform: rotate(-130.44deg); 
        transform-origin: 0 0; 
        background: rgba(218.25, 77.38, 241.19, 0.40); 
        box-shadow: 500px 500px 500px; 
        border-radius: 9999px; 
        filter: blur(500px);
    }
    .sub-2{
        width: 100%; 
        height: 100%; 
        position: relative; 
        transform: rotate(-130.44deg); 
        transform-origin: 0 0; 
        background: rgba(196, 245, 233, 0.70); 
        box-shadow: 600px 600px 600px; 
        border-radius: 9999px; 
        filter: blur(600px);
    }
}
